/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444;
	font-weight: 500;
	line-height: 1.5;
	margin: 0 0 30px 0;
	font-family: 'Poppins', 'Prompt', sans-serif;
}

::selection {
    background: #1e9bd6;
    color: #FFF;
    text-shadow: none;
}
::-moz-selection {
	background: #1e9bd6; /* Firefox */
	color: #FFF;
	text-shadow: none;
}
::-webkit-selection {
	background: #1e9bd6; /* Safari */
	color: #FFF;
	text-shadow: none;
}

.menu-link {
	display: block;
	line-height: 22px;
	padding: 14px 15px;
	color: #444;
	font-weight: 500;
	font-size: 0.85rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Poppins', 'Prompt', sans-serif;
}

.menu-item:hover > .menu-link,
.menu-item.current > .menu-link {
	color: #1e9bd6;
}

.fbox-content p {
    margin-top: 0.5rem;
    margin-bottom: 0px;
    color: #999;
}

body {
    line-height: 1.5;
    color: #555;
	font-family: 'Poppins', 'Prompt', sans-serif;
	font-size: 0.85rem;
	font-weight: 300;
	text-align: left;
}

.font-body { font-family: 'Poppins', 'Prompt', sans-serif; }
.font-primary { font-family: 'Poppins', 'Prompt', sans-serif; }
.font-secondary { font-family: 'Poppins', 'Prompt', sans-serif; }

.media-box {
    padding: 0 0 30px 0;
}

.portfolio-desc h3 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.header-misc-element, .header-misc-icon {
    margin: 0 15px;
}
.slider-caption h2 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: none;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0;
}

.heading-block h1 + span { font-size: 1.25rem; }
.heading-block h2 + span { font-size: 1.15rem; }
.heading-block h3 + span,
.heading-block h4 + span { font-size: 1rem; }
.heading-block::after {
	content: '';
	display: block;
	margin-top: 30px;
	width: 40px;
	border-top: 2px solid #D4D4D4;
}

.dark .i-rounded,
.dark .i-circled {
	background-color: #1e9bd6;
}

#footer .footer-widgets-wrap {
	position: relative;
	padding: 50px 0 30px 0;
}

.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	margin: 5px;
	padding: 8px 22px;
	font-size: 0.875rem;
	line-height: 24px;
	background-color: #1e9bd6;
	color: #FFF;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0px;
	border: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#copyrights {
    padding: 25px 0;
    background-color: #565656;
    font-size: 0.8rem;
    line-height: 1.8;
    color: #DDD;
}

.copyright-links a {
    display: inline-block;
    margin: 0 3px;
    color: #EEE;
    border-bottom: 1px dotted #444;
	font-size: 0.8rem;
}

.entry-title h2,
.entry-title h3,
.entry-title h4 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: none;
	letter-spacing: 0px;
}

.entry-title h2 a, .entry-title h3 a, .entry-title h4 a {
    color: #1e9bd6;
}

.post-grid .entry-title h2 {
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: 500;
}

.entry-content {
    margin-top: 20px;
}

.btn-outline-secondary {
    color: #1e9bd6;
    border-color: #1e9bd6;
}

.btn-outline-dark {
    color: #1e9bd6;
    border-color: #1e9bd6;
}

.entry-title h2 a:hover,
.entry-title h3 a:hover,
.entry-title h4 a:hover { color: #777; }

#gotoTop {
	display: none;
	z-index: 599;
	position: fixed;
	width: 40px;
	height: 40px;
	background-color: #1e9bd6;
	background-color: #1e9bd649;
	font-size: 1.25rem;
	line-height: 36px;
	text-align: center;
	color: #FFF;
	top: auto;
	left: auto;
	right: 30px;
	bottom: 50px;
	cursor: pointer;
	border-radius: 20px;
}
.stretched #gotoTop { bottom: 30px; }
#gotoTop:hover { background-color: #1e9bd6; }

#page-title h1 {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0px;
    color: #333;
    font-size: 1.75rem;
    text-transform: none;
}

#footer {
    position: relative;
    background-color: #EEE;
    border-top: 0px solid rgba(0,0,0,0.2);
}

.title-bottom-border::before,
.title-bottom-border::after {
	display: none;
}

.title-bottom-border h1,
.title-bottom-border h2,
.title-bottom-border h3,
.title-bottom-border h4,
.title-bottom-border h5,
.title-bottom-border h6 {
	width: 100%;
	padding: 0 0 0.75rem;
	border-bottom: 2px solid #EEE;
}

.owl-carousel .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	width: 8px;
	height: 8px;
	margin: 30px 4px 0 4px;
	opacity: 0.5;
	border-radius: 50%;
	background-color: #1e9bd6;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.button.button-3d {
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

.button.button-3d:hover {
	background-color: #999;
	opacity: 0.9;
}
.slider-caption p {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 1.5rem;
	font-family: 'Poppins', 'Prompt', sans-serif;
}

h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) { color: #1e9bd6; }

.fbox-content h3 span.subtitle {
    display: block;
    margin-top: 5px;
    color: #444;
    font-weight: 300;
    text-transform: none;
}

.fbox-plain .fbox-icon i,
.fbox-plain .fbox-icon img {
	border: none;
	background-color: transparent !important;
	color: #1e9bd6;
	border-radius: 0;
}

.sm-form-control {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 14px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #DDD;
	border-radius: 5px !important;
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
}

.widget > h4 {
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.fbox-content h3 {
	font-size: 1rem;
	font-weight: 500;
	font-family: 'Poppins', 'Prompt', sans-serif;
	text-transform: none;
	margin-bottom: 0;
	color: #333;
}

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2 {
	margin-bottom: 0;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0px;
	color: #333;
}

.i-rounded:hover,
.i-circled:hover {
	background-color: #1e9bd6;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 0 0 0 rgba(0,0,0,0.2);
}

.promo h3 {
	font-weight: 500;
	margin-bottom: 0;
}