.brand-link, .brand-text {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    padding: 7px 20px;
    font-style: italic;
}
.navbar-dark .navbar-brand {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    padding: 0px 20px;
    line-height: 1.4;
}
.ew-pager .input-group>input.form-control[name=pageno] {
    width: 4em;
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
}
@media (min-width: 576px){
    label:not(.form-check-label):not(.custom-file-label) {
        text-align: right;
    }
}
.ew-aggregate::after {
    content: none!important;
}
.ew-table-footer-cell {
    text-align: right;
}
@media (min-width: 576px){
    .ew-grid{
        min-width: auto!important;
    }
}
a.ew-detail > span.label {
    padding: 0px 4px;
}
body {
    line-height: 1.9!important;
}
.table th, .table td {
    vertical-align: middle;
}
.ew-grid .ew-table > thead > tr > th {
    white-space: nowrap;
    font-weight: 600!important;
}
.ew-view-table td:last-child {
    text-align: left!important;
}
.tt-more {
    display: none;
}
@media (max-width: 575px) {
  .ew-grid .ew-grid-middle-panel {
    min-height: 235px;
  }
}
.ew-pager:not(.ew-rec) span {
    /*padding-top: 3px!important;*/
}
.ew-pager:last-of-type {
    /*margin-top: 4px;*/
}
.ew-pager .input-group>input.form-control[name=pageno] {
    width: 3em;
}
.ew-rec {
    /*margin-top: 4px;*/
}
.ew-grid-upper-panel.card-header .ew-pager, .ew-grid-lower-panel.card-footer .ew-pager {
    margin-bottom: 4px;
}
.ew-row .date {
    margin-bottom: 15px;
}
/* สำหรับตัวเลขบนปุ่ม Master/Detail */
.bg-info, .alert-info, .label-info {
    background-color: #17a2b8 !important;
}
.bg-info, .alert-info, .label-info, .bg-info a, .alert-info a, .label-info a {
    color: #fff !important;
}
a.nav-link[href^="https://ko-fi.com/"]{
	text-align:center;
}
.ew-file-label {
    color: rgba(255, 255, 255, 0);
}